{% extends "layout.html" %} {% block content %}
<h1 class="container col-8" align="center">About Us</h1>
<main class="container">
    <div class="row">
    </div>
    <div class="row">
        <br>
        <h4>While we were brainstorming ideas for Howdy Hack, we tried to keep in mind the problems that the average TAMU student would face during the school semester. We all quickly realized that something we had all struggled with before was not being
            able to access the class GroupMe. We decided HowdyHub would be a perfect solution.
        </h4>
        <br>
        <h4>HowdyHub is a platform that we created to centralize all GroupMe chats across Texas A&M. This will provide easier access for all students trying to access GroupMe links for their classes.
        </h4>
        <br>
        <h4>
            A key feature of HowdyHub is that we have a script that will automatically create new GroupMe links at the beginning of a semester for each course. Moreover, at the end of the semester these GroupMe links that are now outdated will be automatically deleted.
        </h4>
    </div>

</main>

{% endblock content %}