{% extends "layout.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<h1 class="container col-8" align="center">About Us</h1>
<main class="container">
    <div class="row">
    </div>
    <div class ="row">
        <br>
        <h4>While we were brainstorming ideas for Howdy Hack, we tried to keep in mind the problems 
            that the average TAMU student would face during the school semester. We all quickly realized
            that something we had all struggled with before was not being able to access the class GroupMe.
            We decided HowdyHub would be a perfect solution. 
        </h4>
            <br>
        <h4>HowdyHub is a platform that we created to centralize all GroupMe chats across Texas A&M. This will
            provide easier access for all students trying to access GroupMe links for their classes.
        </h4>
        <br>
        <h4>
            A key feature of HowdyHub is that we have a script that will automatically create 
            new GroupMe links at the beginning of a semester for each course. Moreover, at the end of the
            semester these GroupMe links that are now outdated will be automatically deleted.
        </h4>
        <img src="imgs/lucas_ma_portrait.jpg" class="headshot-img">
        <img src="imgs/Justin Headshot1.jfif" alt="justin lee headshot">
        <img src="./template/imgs/naif_headshot.jpg" alt="naif bhuifyan headshot">
    </div>
    
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
{% endblock content %}
