{% extends "layout.html" %}
{% block content %}

    {% for post in posts %}
        <article class="media content-section container">
            <div class="media-body container">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.crs_name }}</a>
                <small class="text-muted">{{ post.yr_term }}</small>
              </div>
              <h2 class="article-title">{{ post.title }}</h2>
              <a class="article-content" href="{{ post.link }}">Visit GroupMe</a>
            </div>
          </article>
    {% endfor %}

{% endblock content %}