{% extends "layout.html" %}
{% block content %}

    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.department }} {{post.course}}-{{post.section}}</a>
                <small class="text-muted">{{ post.term }} '{{ post.year}}</small>
              </div>
              <h2><a class="article-title" href="#">{{ post.instructor }}</a></h2>
              <a href="{{ post.link }}">Visit GroupMe</p>
            </div>
          </article>
    {% endfor %}

{% endblock content %}